@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap');

.Row2Container{
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.PieChartContainer{
    background-color: white;
    width: 49.6%;
    height: 100%;
    border-radius: 15px;
}

.LineContainer{
    background-color: white;
    width: 49.6%;
    height: 100%;
    border-radius: 15px;
}

.MyResponsiveLine{
    margin-bottom: 50em;
}

@media screen and (max-width: 1050px){
    .Row2Container{
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    .PieChartContainer{
        height: 50%;
        width: 100%;
        margin-top: 0.5em;

    }
    .LineContainer{
        height: 50%;
        width: 100%;
    }

    .LineContainer text{
        font-size: 4px;
    }
}