
tr td:nth-child(1) {
    width: 10%;
}
  
tr td:nth-child(2) {
    width: 30%;
}
  
tr td:nth-child(3) {
    width: 20%;
}
  
tr td:nth-child(4) {
    width: 20%;
}

tr td:nth-child(5) {
    width: 10%;
}

tr td:nth-child(6) {
    width: 10%;
}

tr td{
    border: 1px solid black;
}