.container{
    background-color: white;
    width: 95%;
    height: 98.6%;
    border-radius: 15px;
    overflow: scroll;

}

button{
    background-color: #1877f2; 
    border: none; 
    border-radius: 6px; 
    color: #fff;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    height: 36px; 
    line-height: 20px; 
    margin-left: 8px;
    margin-right: 6px; 
    min-width: 185px; 
    padding: 0 16px 0 16px; 
    transition: 0.3s; 
    cursor: pointer; 
    margin-top: 2px;
    margin-bottom: 2px;
} 
        
button:hover{
    background-color: #e4e6eb; 
    color: #050505; 
    font-size: 15px; 
    transition: 0.3s; 
} 
        
table{
    width: 100%;
    border-spacing: 0;
    table-layout: auto;
}

tr th{
    border: 1px solid black;
    background-color: #7EA8F8;
}

tr th:nth-child(1) {
    width: 10%;
}
  
tr th:nth-child(2) {
    width: 30%;
}
  
tr th:nth-child(3) {
    width: 20%;
}
  
tr th:nth-child(4) {
    width: 20%;
}

tr th:nth-child(5) {
    width: 10%;
}

tr th:nth-child(6) {
    width: 10%;
}

table tr:nth-child(even){
    background: #e1e9f5
}

ul{
    margin: 0;
}

@media only screen and (max-width: 500px) {
    .container{
        font-size: 0.8rem;
    }
}