.SidebarcontainerOpen{
    width: 180px;
    background-color: #5ab7e6;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.SidebarcontainerClosed{
    width: 50px;
    background-color: #5ab7e6;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.sideButton{
    style: none
}

.closeIcon{
    width: 2rem;
    height: 2rem;
    float: right;
    padding-left: 77%;
}

.list{
    padding: 0;
}

.list p{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin: auto;
    padding: 3px 0px 3px 10px;
    color: #040d1c;
}

.list p:hover{
    background-color: lightskyblue;
    transition: all 0.3s;
}

@media screen and (max-width: 800px) {
    .SidebarcontainerOpen {
        width: 100%;
    }
    .SidebarcontainerClosed{
        height: 5%;
    }
    .closeIcon{
        width: 1.5rem;
        height: 1.5rem;
        padding-left: 93%;
    }

    .openIcon{
        font-size: 2.7rem;
    }

    .list p{
        font-size: 10px;
    }
}

